body{
background-color:#E4DFDA;
font-family: Courier New;


}

table{
	background: #C1666B;
    padding: 20px; 
    width: 500px;
    height: 100px; 
	#border-collapse: collapse;
	border-color: #C1666B;
    border-radius:25px;

    border-spacing:3;
}

.indexlinks

{
	border: 1px solid white;
	border-radius: 25px;
	width: 300px;
	background-color:#4281A4;
	display: inline-block;
	margin-left: 20px;
	
}

a:link, a:visited{
	color: white;
	text-decoration:none;
	
}
a:hover {
	
	text-color: white;
}

.indexicons{
	width:200px;
	height:200px;

	
}

input{
	float: right;
	
	
}
form {
	line-height: 7em;
}

